@use '../types-vehicules/types-vehicules.component.scss';

.vehicules-container {
    .vehicule-info,
    .chauffeur-info {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;

        small {
            font-size: 0.75rem;
        }
    }

    .text-secondary {
        color: var(--text-color-secondary);
    }

    .text-blue-500 {
        color: var(--blue-500);
    }

    .ml-2 {
        margin-left: 0.5rem;
    }
}
