server:
  port: 9000

spring:
  application:
    name: gateway
  profiles:
    active: default
  cloud:
    discovery:
      enabled: true
    gateway:
      mvc:
        routes:
          - id: authorization-server
            uri: lb://AUTHORIZATIONSERVER
            predicates:
              - Path=/authorization/**
          - id: user-service
            uri: lb://USERSERVICE
            predicates:
              - Path=/user/**
          - id: billetterie-service
            uri: lb://BILLETTERIESERVICE
            predicates:
              - Path=/billetterie/**
          - id: notification-service
            uri: lb://NOTIFICATIONSERVICE
            predicates:
              - Path=/notification/**

eureka:
  client:
    service-url:
      defaultZone: http://manager:manager2711@localhost:5003/eureka/
    restclient:
      enabled: true
  instance:
    hostname: localhost
    prefer-ip-address: true


logging:
  level:
    com.netflix.discovery.shared.transport: TRACE
    com.netflix.discovery: TRACE
    org.springframework.cloud.netflix: DEBUG

jwks:
  uri: http://localhost:8090/oauth2/jwks