.layout-topbar-grey {
    --topbar-bg: #696969;
    --topbar-start-bg: #555555;
    --topbar-menu-button-bg: #F97316;
    --topbar-menu-button-hover-bg: #EA580C;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
