spring:
  application:
    name: notificationserver
  profiles:
    active: default
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${GMAIL_USERNAME:}
    password: ${GMAIL_APP_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  cloud:
    discovery:
      client:
        composite-indicator:
          enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5433/innodb
    username: inno2711
    password: manager2711
    hikari:
      connection-test-query: SELECT 1
  main:
    allow-bean-definition-overriding: true

  jpa:
    database: POSTGRESQL
    open-in-view: false
    generate-ddl: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: innodb

  kafka:
    bootstrap-servers:
      - localhost:9093
    template:
      default-topic: NOTIFICATION_TOPIC
    consumer:
      group-id: topicgroupid
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      # Add consumer configuration for large messages
      properties:
        fetch.message.max.bytes: 1300000000
        max.partition.fetch.bytes: 1300000000
    properties:
      spring:
        json:
          type:
            mapping: "Notification:io.multi.notificationserver.domain.Notification,io.multi.authorizationserver.event.Notification:io.multi.notificationserver.domain.Notification"
      # Add global properties for handling large messages
      fetch.message.max.bytes: 1300000000

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://manager:manager2711@localhost:5003/eureka/

mail:
  from:
    email: ${GMAIL_USERNAME:support@digi-creditrural-io.com}
    name: ${MAIL_FROM_NAME:Digicrg}

ui:
  app:
    url: http://localhost:4202

verify:
  email:
    host: http://localhost:4202

key:
  private: private.key
  public: public.key


server:
  port: 8096

jwks:
  uri: http://localhost:8090/oauth2/jwks
